<div class="container">
    <h3>Получение списка продуктов</h3>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>path</dt>
                <dd>
                    <blockquote>
                        <pre id="json"><b>GET</b> /api/products/</pre>
                    </blockquote>
                </dd>
                <dt>request</dt>
                <dd>
                    <blockquote>
                        <pre id="json">
{
    "id": 1
}</pre>
                    </blockquote>
                </dd>
                <dt>response</dt>
                <dd>
                    <blockquote>
                        <pre>200 OK</pre>
                        <pre id="json">
{
    "name": "Test",
    "id": 1
}</pre>

                    </blockquote>
                </dd>
            </dl>
        </div>
    </div>

    <h3>Получение продукта по {id}</h3>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>path</dt>
                <dd>
                    <blockquote>
                        <pre id="json"><b>GET</b> /api/products/{id}</pre>
                    </blockquote>
                </dd>
                <dt>request</dt>
                <dd>
                    <blockquote>
                        <pre id="json">
{
    "id": 1
}</pre>
                    </blockquote>
                </dd>
                <dt>response</dt>
                <dd>
                    <blockquote>
                        <p>
                            <pre id="json">
{
    "name": "Test",
    "id": 1
}</pre>
                        </p>
                    </blockquote>
                </dd>
            </dl>
        </div>
    </div>

</div>
